.Home_CSS {
  /* background-color: blue; */
  /* background-size: cover; */
  width: 100%;
  height: 100%;
}

.Home_CSS h1{
  padding-top: 2%;
  text-align: center;
  font-size: 4em;
  color: black;
}

.Home_CSS .Profile {
  text-align: left;
  padding-left: 5%;
}

.Home_CSS .Profile h2 {
  padding-top: 2%;
  font-size: 2.5em;
}

.Home_CSS .Profile h3 {
  padding-top: 1%;
  font-size: 1em;
}

NavbarBrand .navHeader {
  color: white;
  /* font-size: 1.2em; */
}

NavbarBrand .navHeader:hover {
  color: gray;
}